{{#if user}}
<h1>Welcome to Lesson Face, {{user}}!</h1>
<h2>Please click on an instrument that interests you.</h2>

<ul>
    {{#each instruments}}
    <li>
        <a href='/lessons/{{code}}'>{{name}}</a>
    </li>
    {{/each}}
</ul>

{{/if}}